<h3 class="pull-left">Previous Talks</h3>
<a href="#" class="btn new-btn btn-warning" id="add_talk_btn"><i class="icon-plus icon-white"></i>&nbsp;Talk</a>

<table id="talk_table" class="table">
  <tr>
    <th>Name</th>
    <th>Presenter</th>
    <th>Date</th>
    <th>Description</th>
    <th colspan="2">Votes</th>
  </tr>
</table>

<div id ="talk_pagination">