<form class="form-horizontal" id="new_talk">

  <div class="control-group">
    <label class="control-label" for="talk_name">Name</label>
    <div class="controls">
      <input id="talk_name" name="name" size="30" type="text">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="talk_description">Description</label>
    <div class="controls">
      <textarea cols="40" id="talk_description" name="description" rows="10"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="talk_location">Location</label>
    <div class="controls">
      <input id="talk_location" name="location" size="30" type="text">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="talk_presented_on">Presented on</label>
    <div class="controls">
      <input class="datepicker" id="talk_presented_on" name="presented_on" size="30" type="text" value="02/12/2013">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="talk_slides_url">Slides url</label>
    <div class="controls">
      <input id="talk_slides_url" name="slides_url" size="30" type="text">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input class="btn" name="commit" type="submit" value="Create">
    </div>
  </div>

</form>