<h3 class="pull-left">Suggestions</h3>
<a href="#" class="btn new-btn btn-warning" id="add_suggestion_btn"><i class="icon-plus icon-white"></i>&nbsp;Suggestion</a>

<table id="suggestion_table" class="table">
  <tr>
    <th>Concept</th>
    <th>Suggester</th>
    <th>Date</th>
    <th>Description</th>
    <th colspan="2">Votes</th>
  </tr>
</table>

<div id ="suggestion_pagination">