<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h2>Organize your technical talks and presentations</h2>
    <p>This application let's you view, suggest, and manage technical presentations.</p>
    <p><a href="/auth/github" class="btn btn-primary btn-large">Sign In With Github</a></p>
</div>