@import 'bootstrap';
@import '../../../vendor/assets/stylesheets/datepicker';

.navbar {
  margin-bottom: 0;
}
.subnav {
  margin-bottom: 20px;
}

.new-btn {
    float: right;
    margin-bottom: 10px;
}

.description {
    width: 400px;
}

.modal-body {
  overflow-y: none;
  max-height: none;
}

.datepicker {
  z-index: 50000;
}